body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.firstSlide,
.secondSlide,
.thirdSlide,
.fourthSlide {
    padding: 0px 200px;
}

.firstSlide {
    background-color: #1F2937;
}

.header {
    margin-top: 20px;
    display: flex;
    margin-bottom: 75px;
}

.headerLogo {
    font-weight: bolder;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: right;
    flex: 1;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* after <div class="firstSlideContent"> */

.firstSlideContent {
    display: flex;
}

.firstSplit {
    display: flex;
    flex-direction: column;
}

.links,
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    max-width: 450px;
    font-weight: 300;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.signUpButton {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    max-width: 100px;
}


.imageBox1 {
    display: flex;
    background-color: rgba(229, 231, 235, 12);
    width: 375px;
    height: 175px;
    flex-direction: column;
}

.secondSlide {

}

.thirdSlide {
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.fourthSlide {

}

.footer {
    background-color: #1F2937;
}

/* start: 15 ago, 20:06 */
/* to do:
 * 1.
 * 2. 
 * 3.
*/